<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebXMLDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>First</servlet-class>
    <init-param>
      <param-name>admin-name</param-name>
      <param-value>Smith</param-value>
    </init-param>
    <init-param>
      <param-name>admin-mobile</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Second</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>Second</servlet-class>
    <init-param>
      <param-name>meeting-place</param-name>
      <param-value>Indore</param-value>
    </init-param>
    <init-param>
      <param-name>meeting-date</param-name>
      <param-value>21-01-2022</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Third</display-name>
    <servlet-name>C</servlet-name>
    <servlet-class>Third</servlet-class>
    <init-param>
      <param-name>NecessitiesToBeTakenCare</param-name>
      <param-value>Mask, Sanitizer</param-value>
    </init-param>
    <init-param>
      <param-name>VaccinatedOrNot?</param-name>
      <param-value>Yes</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/Trial</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>mypkg.StartHandler</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ShowProduct</display-name>
    <servlet-name>ShowProduct</servlet-name>
    <servlet-class>ShowProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProduct</servlet-name>
    <url-pattern>/ShowProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUsers</display-name>
    <servlet-name>ShowUsers</servlet-name>
    <servlet-class>ShowUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsers</servlet-name>
    <url-pattern>/ShowUsers</url-pattern>
  </servlet-mapping>
</web-app>